body {
    background: #0e1e24 url("/resources/assets/img/background.gif") fixed no-repeat;
    font-family: 'PT Sans', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% auto;
    padding: 20px;
}

form {
    max-width: 240px;
    margin: 0 auto;
    font-size: 14px;
    border: 50px solid transparent;
    border-image-source: url("/resources/assets/img/formborder.png");
    border-image-slice: 110 fill;
}
form > div {
    position: relative;
    border-bottom: 1px solid #04282e;

}

form > div > input[type="text"] {
    text-align: center;
    width: 100%;
    border: 0;
    padding: 10px 40px 10px 40px;
    background: #0000001a;
}


form > .submitbutton {
    width: 100%;
    border: 0;
    background-color: #4cae4c99;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

form > .submitbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.returnbutton {
    width: 100%;
    border: 0;
    background-color: #b92c28;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.returnbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

p {
    color: white;
}






